<mat-toolbar class="menu" color="primary">
  <div>
    <a class="logo" routerLink="/">
      {{title}}
    </a>
  </div>

  <div>
    <button mat-button *ngFor="let item of menuItems" 
      [fxShow]="item.showOnDesktop" 
      [fxShow.xs]="item.showOnMobile"
      [fxShow.sm]="item.showOnTablet">
      <mat-icon>{{item.icon}}</mat-icon>
      {{item.label}}
    </button>
    
    <button mat-icon-button [matMenuTriggerFor]="dropMenu">
      <mat-icon>menu</mat-icon>
    </button>
  

    <mat-menu #dropMenu="matMenu">
      <ng-container *ngFor="let item of menuItems">
        <div [fxShow]="!item.showOnDesktop" 
            [fxShow.sm]="!item.showOnTablet" 
            [fxShow.xs]="!item.showOnMobile">
          <button mat-menu-item>
            <mat-icon>{{item.icon}}</mat-icon>
            {{item.label}}
          </button>
        </div>
      </ng-container>
    </mat-menu>
  </div>
  
</mat-toolbar>





<!--
  <button class="item" mat-button routerLink="/login" > *ngIf="!isAuthenticated"
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button class="item" mat-button>
    <mat-icon>biotech</mat-icon>
    Biotech
  </button>
  <button class="item" mat-button>
    <mat-icon>settings</mat-icon>
    Settings
  </button>
  <button class="item" mat-button>
    <mat-icon>notifications</mat-icon>
    Notifications
  </button>
  
  <button class="toggle" mat-button [matMenuTriggerFor]="menu" >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  -->