<p>flexing works!</p>
<div class="table">
    <div class="row">
      <div class="cell">First Cell</div>
      <div class="cell">Second Cell</div>
      <div class="cell rowspan2">Third Cell</div>
    </div>
    <div class="row">
      <div class="cell colspan2">Fourth Cell</div>
    </div>
</div>
  
<div id="flex-container">
    <div class="flex-item" id="flex">Flex box (click to toggle raw box)</div>
    <div class="raw-item" id="raw">Raw box</div>
</div>
  
<ul class="container">
    <li class="flex flex1">1: flex-basis test</li>
    <li class="flex flex2">2: flex-basis test</li>
    <li class="flex flex3">3: flex-basis test</li>
    <li class="flex flex4">4: flex-basis test</li>
    <li class="flex flex5">5: flex-basis test</li>
</ul>
  
<ul class="container">
    <li class="flex flex6">6: flex-basis test</li>
</ul>

<a routerLink="example2" class="btn btn-sm btn-success mb-2">Another Example</a>
